@import '../../../../variables';
@import '../../../../mixins';

.mat-card-title, .mat-card-subtitle {
  margin: .2rem 0;
}

.mat-card-actions {
  display: none;
}

.details-min {
  width: 90%;
  height: 90%;
  border: 1px solid $light-text-color;
}

.photo-list-container {
  margin: 0 .3rem 0 .8rem;
}

.box {
  display: flex;
  flex-wrap: wrap;
}

.box>* {
  flex: 0 0 20%;
  cursor: pointer;
}

.basic-description {
  font-family: $primary-font;
  font-size: $main-font-size;
  padding: 0;
}

.inner-description {
  padding-right: .5rem;
}

.address-description {
  @extend .basic-description;
  margin-top: .5rem;
}

.address-data {
  line-height: 1.2rem;
}

.premises-description {
  @extend .basic-description;
  margin: 1rem 0 0 0;
}

.check-box-description {
  @extend .basic-description;
  margin-top: 0;
}

.area-description {
  @extend .basic-description;
  margin: 0;
}

.badge-box {
  margin-bottom: .5rem;
  padding: 0;
}

.check-box {
  color: $error-color;
}

.check-box-outline-blank {
  color: $success-color;
}

.photoURL {
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  margin-top: .5rem;
  margin-right: .5rem;
  transition: all .3s ease-in-out;
}

.outer {
  border: 2px solid $main-text-color;
}

.user-info {
  height: 4rem;
  width: 9rem;
  border: 2px solid $main-text-color;
  font-size: $badge-card-font-size;
  @include border-radius-mix(5px);
  @include scrool-window();
}

.user-details {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.user-details-description {
  font-size: $main-font-size;
}

.user-name {
  font-size: $title-font-size;
  font-style: italic;
  color: $light-text-color;
}

.badge-standard-light {
  font-size: $badge-card-font-size;
  padding: 2px;
}

@include small-phone {
  .box {
    width: 220px;
  }
  .box>* {
      flex: 0 0 50%;
  }
  button {
    width: 96%;
  }
  .address-description {
    width: 94%;
  }
  .mat-card-actions {
    display: block;
    width: 96%;
    margin-left: 0;
  }
  .user-info {
    width: 80%;
    margin-left: -1.2rem;
  }
}

@include only-phone {
  .box {
    width: 320px;
  }
  .box>* {
      flex: 0 0 33.33333333%;
  }
  button {
    width: 96%;
  }
  .address-description {
    width: 94%;
  }
  .mat-card-actions {
    display: block;
    width: 98%;
    margin-left: 0;
  }
  .user-info {
    width: 60%;
    margin-left: -1.2rem;
  }
}

@include only-tablet {
  .box {
    width: 540px;
  }
}

@include only-small-desktop {
  .box {
    width: 400px;
  }
}

@include only-large-desktop {
  .box {
    width: 600px;
  }
}

@include up-large-desktop {
  .box {
    width: 800px;
  }
  .box>* {
      flex: 0 0 12.5%;
  }
}
