<section class="photo-list-container">
  <div *ngIf="premises$ | async as premises">
    <div>
      <mat-card-title>{{ premises?.city }}</mat-card-title>
      <mat-card-subtitle >{{ premises?.street }}</mat-card-subtitle>
    </div>

    <div fxLayoutAlign.xs="center center">
      <div class="box">
        <div *ngFor="let photo of photos$ | async">
          <img *ngIf="photo"
          [attr.src]="photo.url"
          [routerLink]="['imageUrls', photo.id]"
          class="details-min">
        </div>
      </div>
    </div>

    <div>
      <div class="address-description">
        <p *ngIf="premises?.city" class="address">Address</p>
        <span *ngIf="premises?.city" class="badge-secondary-accent address-data">
            {{ premises?.streetNumber }}/{{ premises?.flat }} &nbsp;
            {{ premises?.street }} &nbsp;
            {{ premises?.city }} &nbsp;
            {{ premises?.country }}
        </span>
      </div>

      <div class="badge-box">
        <p *ngIf="premises?.premises" class="premises-description">Type of premises&nbsp;
          <span class="badge-success">
            {{premises?.premises}}
          </span>
        </p>
        <p *ngIf="premises?.heating" class="premises-description">Heating&nbsp;
          <span class="badge-primary-accent">
            {{premises?.heating}}
          </span>
        </p>
      </div>

      <div>
        <p class="check-box-description">

          <span *ngIf="premises?.fornished" class="inner-description">
            Fornished
            <mat-icon class="check-box-outline-blank">
              check_box
            </mat-icon>
            yes
          </span>

          <span *ngIf="!premises?.fornished" class="inner-description">
            Fornished
            <mat-icon class="check-box">
                check_box_outline_blank
            </mat-icon>
            not
          </span>
        
          <span *ngIf="!premises?.rented" class="inner-description">
            Rented
            <mat-icon class="check-box-outline-blank">
              check_box_outline_blank
            </mat-icon>
            not
          </span>
        
          <span *ngIf="premises?.rented" class="inner-description">
              Rented
            <mat-icon class="check-box">
              check_box
            </mat-icon>
            yes
          </span>
        </p>

        <p class="area-description">
          <span 
            *ngIf="premises?.area" 
            matBadge="{{premises?.area}}" 
            matBadgeOverlap="false" 
            matBadgeColor="primary">
            Area&nbsp;[m<sup>2</sup>]
          </span>
        </p>
      </div>
  
      <div>
        <mat-card-actions>
          <button mat-button routerLink="../">... Go back to premises</button>
        </mat-card-actions>
      </div>

    </div>
  </div>
</section>
