@import '../../../../variables';
@import '../../../../mixins';

.image-description {
  font-family: $primary-font;
  font-size: $main-font-size;
  margin-left: .5rem;
}

.details-img {
  width: 100%;
  height: 100%;
  border: 2px solid $light-text-color;
  margin-left: -.1rem;
}

.icon{
  float: right;
}

.delete-icon {
  padding-top: 0;
  padding-right: 1rem;
}

.info-button {
  margin-top: .5rem;
}

.outer-img {
  padding: .5rem;
}

@include small-phone {
  .outer-img {
    width: 13rem;
    height: 9.75rem;
  }
  button {
    width: 90%;
  }
}

@include only-phone {
  .outer-img {
    width: 18rem;
    height: 13.5rem;
  }
  button {
    width: 90%;
  }
}

@include only-tablet {
  .outer-img {
    width: 32rem;
    height: 24rem;
  }
}

@include only-small-desktop {
  .outer-img {
    width: 25rem;
    height: 18.75rem;
  }
}

@include only-large-desktop {
  .outer-img {
    width: 32rem;
    height: 24rem;
  }
}

@include up-large-desktop {
  .outer-img {
    width: 44rem;
    height: 33rem;
  }
}