@import '../../../variables';

mat-toolbar {
  height: 4rem;
}

a {
  text-decoration: none;
  color: $clear-color
}

a:hover, a:active, .mat-icon:hover, .mat-icon:active {
  color: $light-background-color;
}

.nav-items {
  list-style: none;
  padding: 0;
  margin: 0;
}
