<section fxLayout="column" fxLayoutAlign="center center">
  <h1>Please login!</h1>
  <form [formGroup]="loginForm"
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="10px"
    (ngSubmit)="logIn()">
    
    <mat-form-field>
      <input
        type="email"
        matInput
        placeholder="Your email"
        formControlName="email">
      <mat-hint>Please enter a valid email.</mat-hint>
      <mat-error>Invalid or missing email.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        type="password"
        matInput
        placeholder="Your password"
        formControlName="password"
        [type]="hide ? 'password': 'text'">
      <mat-icon matSuffix (click)="hide = !hide" class="visible-password">{{ hide ? 'visibility' : 'visibility_off' }}</mat-icon>
      <mat-hint>Please enter your password.</mat-hint>
      <mat-error>Invalid or missing password.</mat-error>
    </mat-form-field>
  
    <button 
      type="submit" 
      mat-raised-button 
      color="primary" 
      [disabled]="loginForm.invalid">
      Submit
    </button>
    
  </form>
</section>