@import '../../variables';
@import '../../mixins';

button {
  width: 10rem;
}

.chosen-premises-info {
  @include info-box();
  right: 1rem;
}

.confirmed-info {
  @include info-box();
  left: 1rem;
  transform: translateY(-12.7rem);
}

.delete-info {
  @extend .confirmed-info;
  color: $error-color;
  border: 2px solid $error-color;
}

.thumbnail-info {
  @include info-box();
  right: 1rem;
  transform: translateY(10rem);
}

.bottom {
  margin-bottom: 2rem;
}

.bottom-del {
  margin-bottom: 7rem;
}

@include phone {
  .local-info-basis {
    @include info-box(90%);
    left: 5%;
  }
  .confirmed-info {
    display: none;
  }
  .chosen-premises-info {
    @extend .local-info-basis;
    transform: translateY(-4rem);
  }
  .thumbnail-info {
    @extend .local-info-basis;
    transform: translateY(8.5rem);
  }
  .delete-info {
    @extend .local-info-basis;
    transform: translateY(3rem);
  }
}