/* --- Colors --- */
$clear-color: #ffffff;
$main-color: #3f51b5;
$main-accent-color: #3d5afe;
$main-very-light-color: #e8eaf6;
$primary-color: #e91e63;
$primary-accent-color: #f50057;
$primary-light-accent-color: #ff4081;
$primary-very-light-color: #fce4ec;
$secondary-color: #ffc107;
$secondary-accent-color: #ffab00;
$success-color: #8bc34a;
$badge-success-color: #00c853;
$error-color: #f44336;
$main-text-color: #424242;
$light-text-color: #9e9e9e;
$light-background-color: #e0e0e0;

/* --- Font definitions --- */
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Ubuntu', sans-serif;
$main-font-size: .8rem;
$main-line-height: .8rem;
$primary-font-size: .9rem;
$primary-line-height: .9rem;
$title-font-size: 1rem;
$title-line-height: 1rem;
$title-card-font-size: 1.3rem;
$subtitle-card-font-size: .9rem;
$badge-card-font-size: .7rem;
